In [5]:
first_num = input('Please enter a number')          #INPUT FUNCTION ALWAYS RETURN TO A STRING EVEN IF THAT STRING CONTAINS A NUMBER# 
second_num = input('Please enter another number')              #INTEGER
print(int(first_num) + int(second_num))

Please enter a number5
Please enter another number6
11

In [6]:
 first_num = input('Please enter a number')          #INPUT FUNCTION ALWAYS RETURN TO A STRING EVEN IF THAT STRING CONTAINS A NUMBER# 
second_num = input('Please enter another number')           #FLOAT
print(float(first_num) + float(second_num))

Please enter a number6
Please enter another number6
12.0

In [7]:
first_num = input('Please enter a number')          #INPUT FUNCTION ALWAYS RETURN TO A STRING EVEN IF THAT STRING CONTAINS A NUMBER# 
second_num = input('Please enter another number')          #STRING
print(first_num + second_num)

Please enter a number6
Please enter another number6
66

In [9]:
days_in_Feb = 28
print(str(days_in_Feb) + ' total days in February')

28 total days in February

In [10]:
#PRINT FUNCTION

x = 5
print ('value of x       : ', x)

x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n', 
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

value of x       :  5
2 more of x      :  7

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [16]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, """and""" , vegetable)

Orange and Tomato

In [18]:
print(type('hello'))

<class 'str'>

In [19]:
a = 'hello'
b = 3.14
c = 74
print(type(a), type(b), type(c), sep = '\n')

<class 'str'>
<class 'float'>
<class 'int'>

In [20]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [21]:
print('it\'s funny to learn Python') # single-quote did not give error due to \

it's funny to learn Python

In [22]:
#Be careful, when using üëâüèª\ in the long string. 
#It may cause error because of its functionality described above. Using üëâüèª\\ guarantees no error.

In [23]:
#DERS BASLADI

In [25]:
 x = input("Bir sayi giriniz")
 y = input("Bur sayi daha giriniz")

 z = x + y

 print(z)

Bir sayi giriniz11
Bur sayi daha giriniz4
114

In [30]:
21 %  3 
           #MODULUS YANI BOLUNUNCE KALAN KAC

0

In [28]:
21 // 3

7

In [31]:
21 // 4

5

In [33]:
#- Kadayif
#- Ic;
   #- Ceviz
   #- Findik
   #- Fistik
#- Serbet;
   #- Su,
   #- Seker
#- Yumurta

In [46]:
kadayif = True

#ic
findik = True
fistik = True
ceviz = True

#serbet
su = True
seker = True

yumurta = True

#icecek
cay = True
limonata = True
mesrubat = True

In [47]:
yedim = kadayif and (ceviz or findik or fistik) and (su or seker) and yumurta and (cay or limonata or mesrubat)
print(yedim)

True

In [57]:
print("hello \naylon")

hello
aylon

In [58]:
#BU DERSTE ASIL INDEXING&SLICING STRINGS
#STRING FORMATTING GORUCEZ

In [59]:
#Iterable = elemanlarina ayrilabilen ve elemanlari tek tek alinip kullanilabilir, indexlenebilir, elemanlarina bolunebilir

In [68]:
fruit = 'Orange'
print('Word                 : ' , fruit)
print('First letter         : ' , fruit[0])
print('2nd and 5th letters  : ' , fruit[2:5])

Word                 :  Orange
First letter         :  O
2nd and 5th letters  :  ang

In [70]:
parca = "clarusway" [2:5]
print(parca)

aru

In [91]:
city = 'Phoenix'

print(city[1:])
print(city[:6])   # from 0 to 5th index
print(city[::2])  #0 dan baslar 2ser gider
print(city[1::2])  # bir al bir alma
print(city[-3])      #negatif indexlerin yonu terstir sagdan baslar sola dogru gider

print(city[::-1]) # bu cok kullanilir tbak tum stringi al tersten yazdir

hoenix
Phoeni
Ponx
hei
n
xineohP

In [82]:
a = 'Orange'     # 0 1 2 3 4 5 pozitifte baslarken dahil biterken dahil degil
print(a[-5:-2])
print(a[1:4])

ran
ran

In [93]:
"clarus"[-3::-1]

'ralc'

In [119]:
animal = 'hippopotamus' #toplam 12
print('length of the word', animal, 'is :' , len(animal))
print(animal[-2])         #eger hicbit eleman yakalamiyorsa bos verirpr
print(animal[-5:-2])       #ama anlamadigim nokta print fomrlunde '' bile vermiyor
print(animal[-2:-5])       #negatif indexte sagdan sola, pozitif indexte soldan saga dogru
animal[-2:-5]
print(animal[-1::])
print(animal[::-1])

length of the word hippopotamus is : 12
u
tam

s
sumatopoppih

In [116]:
vegetable = 'Tomato'
print('length of the word', vegetable, 'is :' , len(vegetable))

length of the word Tomato is : 6

In [125]:
str_one = 'upper'           
str_two = 3 * 'upper'
srt_comb = str_one * 3
print(str_two)
print(str_one)
print(* str_one)         #* aralarina fiziki olarak space koymuyor, iterable'i elemanlarina ayiriyor

upperupperupper
upper
u p p e r

In [126]:
#3. bolume giriyoruz

In [129]:
str_one = 'upper'
str_one += 'case'
print(str_one)
str_one +='letter'
print(str_one)
str_one += 'end'
print(str_one)

uppercase
uppercaseletter
uppercaseletterend

In [130]:
s1 = 'hello'
s1 *= 2
print(s1)

hellohello

In [131]:
#formatlama
#. deyip tab'a basarsan o degiskenin ustunde hangi metodlari kullanabilicegini gorebilirsin ama bu jupyterdeymis

In [133]:
"hello {} nasilsiniz {}".format("iyisiniz", "mi yoksa?") #

'hello iyisiniz nasilsiniz mi yoksa?'

In [138]:
x = "iyisiniz"                           #degisken atayip ustune format metodunu kullandik************
y = "mi yoksa"
"hello {} nasilsiniz {}".format(x,y)

'hello iyisiniz nasilsiniz mi yoksa'

In [141]:
"hello {1} nasilsiniz {0}".format(x,y)       #index numarasi 0 x'i, 1 y'yi temsil ediyor **************** format string tipinin bir metodudur

'hello mi yoksa nasilsiniz iyisiniz'

In [142]:
fruit = 'orange'
vegetable = 'tomato'
amount = 4
print('the amount of {} we bought is {} pounds'.format(fruit, amount))

the amount of orange we bought is 4 pounds

In [145]:
print('{state} is the most {adjective} state of the {country}'.format(state = 'California' , #format parantezine deger atama
                                                                      country = 'USA' , adjective = 'crowded'))

California is the most crowded state of the USA

In [149]:
phrase ='{2} {3} {1} {0}'.format('circumstances', 'in all', 'generosity', 'wins')
print(phrase)

generosity wins in all circumstances

In [150]:
#DERS BITIMINDE F-STRING FORMATTING